In [ ]:
### be sure to provide the raw link (click view raw to get the url)
import pandas as pd
import numpy as np
df_utxo=pd.read_csv("https://raw.githubusercontent.com/sunshineluyao/Fintech_AI/master/data/utxo_age_distribution_2020_03_27.csv")
df_utxo.head()

  <1d, x; 1d-1w, x; 1w-1m, x; 1-3m, x; 3-6m, x; 6-12m, x; 12-18m, x; 18-24m, x; 2-3y, x; 3-5y, x; >5y, x; BTC/USD, x  ...  BTC/USD, y
0                                         2009-01-13                                                                  ...         0.0
1                                         2009-01-14                                                                  ...         0.0
2                                         2009-01-15                                                                  ...         0.0
3                                         2009-01-16                                                                  ...         0.0
4                                         2009-01-17                                                                  ...         0.0

[5 rows x 24 columns]

In [ ]:
df_utxo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4092 entries, 0 to 4091
Data columns (total 24 columns):
 #   Column                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                              --------------  -----
 0   <1d, x; 1d-1w, x; 1w-1m, x; 1-3m, x; 3-6m, x; 6-12m, x; 12-18m, x; 18-24m, x; 2-3y, x; 3-5y, x; >5y, x; BTC/USD, x  4092 non-null   object
 1   <1d, y                                                                                                              4092 non-null   float64
 2   <1d, text                                                                                                           4092 non-null   object
 3   1d-1w, y                                                                                                            4092 non-null   float64
 4   1d-1w, text                                                                                                         4092 non-null   object
 5   1w-1m, y                                                                                                            4092 non-null   float64
 6   1w-1m, text                                                                                                         4092 non-null   object
 7   1-3m, y                                                                                                             4092 non-null   float64
 8   1-3m, text                                                                                                          4092 non-null   object
 9   3-6m, y                                                                                                             4092 non-null   float64
 10  3-6m, text                                                                                                          4092 non-null   object
 11  6-12m, y                                                                                                            4092 non-null   float64
 12  6-12m, text                                                                                                         4092 non-null   object
 13  12-18m, y                                                                                                           4092 non-null   float64
 14  12-18m, text                                                                                                        4092 non-null   object
 15  18-24m, y                                                                                                           4092 non-null   float64
 16  18-24m, text                                                                                                        4092 non-null   object
 17  2-3y, y                                                                                                             4092 non-null   float64
 18  2-3y, text                                                                                                          4092 non-null   object
 19  3-5y, y                                                                                                             4092 non-null   float64
 20  3-5y, text                                                                                                          4092 non-null   object
 21  >5y, y                                                                                                              4092 non-null   float64
 22  >5y, text                                                                                                           4092 non-null   object
 23  BTC/USD, y                                                                                                          4092 non-null   float64
dtypes: float64(12), object(12)
memory usage: 767.4+ KB

In [ ]:
df_utxo=df_utxo.rename(columns={'<1d, x; 1d-1w, x; 1w-1m, x; 1-3m, x; 3-6m, x; 6-12m, x; 12-18m, x; 18-24m, x; 2-3y, x; 3-5y, x; >5y, x; BTC/USD, x':'date'})

In [ ]:
df_utxo['date']=pd.to_datetime(df_utxo['date'])
df_utxo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4092 entries, 0 to 4091
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          4092 non-null   datetime64[ns]
 1   <1d, y        4092 non-null   float64
 2   <1d, text     4092 non-null   object
 3   1d-1w, y      4092 non-null   float64
 4   1d-1w, text   4092 non-null   object
 5   1w-1m, y      4092 non-null   float64
 6   1w-1m, text   4092 non-null   object
 7   1-3m, y       4092 non-null   float64
 8   1-3m, text    4092 non-null   object
 9   3-6m, y       4092 non-null   float64
 10  3-6m, text    4092 non-null   object
 11  6-12m, y      4092 non-null   float64
 12  6-12m, text   4092 non-null   object
 13  12-18m, y     4092 non-null   float64
 14  12-18m, text  4092 non-null   object
 15  18-24m, y     4092 non-null   float64
 16  18-24m, text  4092 non-null   object
 17  2-3y, y       4092 non-null   float64
 18  2-3y, text    4092 non-null   object
 19  3-5y, y       4092 non-null   float64
 20  3-5y, text    4092 non-null   object
 21  >5y, y        4092 non-null   float64
 22  >5y, text     4092 non-null   object
 23  BTC/USD, y    4092 non-null   float64
dtypes: datetime64[ns](1), float64(12), object(11)
memory usage: 767.4+ KB

In [ ]:
pd.Timestamp(df_utxo['date'][0])

Timestamp('2009-01-13 00:00:00')

In [ ]:
df_utxo['date']=df_utxo['date'].dt.strftime('%Y-%m-%d')

In [ ]:
df_utxo.set_index('date',drop=True,inplace=True)

In [ ]:
df_utxo.index.name=None
df_utxo.head()

              <1d, y <1d, text  1d-1w, y  ... >5y, y  >5y, text BTC/USD, y
2009-01-13  0.382578    38.26%  0.996516  ...    1.0      0.00%        0.0
2009-01-14  0.292343    29.23%  0.997680  ...    1.0      0.00%        0.0
2009-01-15  0.224730    22.47%  0.998261  ...    1.0      0.00%        0.0
2009-01-16  0.166898    16.69%  0.980529  ...    1.0      0.00%        0.0
2009-01-17  0.145442    14.54%  0.945073  ...    1.0      0.00%        0.0

[5 rows x 23 columns]

In [ ]:
df_utxo.to_csv('UTXO_2020_07_03.csv')

In [ ]:
###Save a copy to GitHub Repo